[data-theme=dark] {
  --header-bg-color: oklch(0.3562 0 0);
  --menu-bar-color: oklch(0.8328 0 0);
  --menu-bar-color-hover: oklch(0.8452 0 0);
  --menu-bar-bg: transparent;
  --menu-bar-bg-hover: oklch(0.3932 0.0013 197.1);
  --header-title-color: oklch(1 0 0);
  --window-controls-color: oklch(0.8452 0 0);
  --window-controls-color-hover: oklch(0.4532 0 0);
  --window-controls-close-color-hover: oklch(1 0 0);
  --window-controls-close-bg-hover: oklch(0.5899 0.2344 26.3);
  --main-bg-color: oklch(0.2649 0.0018 286.27);
  --icon-menu-bg-color: oklch(0.3211 0 0);
  --icon-menu-color: oklch(0.6167 0 0);
  --icon-menu-color-hover: oklch(1 0 0);
  --explorer-menu-bg-color: oklch(0.2649 0.0018 286.27);
  --explorer-menu-color: oklch(0.8452 0 0);
  --explorer-menu-color-bg: transparent;
  --explorer-menu-color-bg-line: transparent;
  --explorer-menu-more-bg-hover: oklch(0.3358 0.0014 197.09);
  --explorer-menu-color-bg-hover: oklch(0.2946 0.0046 219.63);
  --explorer-menu-color-bg-active: oklch(0.3391 0.0104 285.83);
  --explorer-menu-color-click: oklch(1 0 0);
  --explorer-menu-color-bg-click: oklch(0.334 0.0827 246.12);
  --explorer-menu-color-bg-line-click: oklch(0.5836 0.159068 248.5119);
  --tab-menu-bg-color: oklch(0.2649 0.0018 286.27);
  --tab-menu-item-bg-color: oklch(0.2972 0 0);
  --tab-menu-item-line-color: oklch(0.2649 0.0018 286.27);
  --tab-menu-color: oklch(0.5486 0 0);
  --tab-menu-color-active: oklch(1 0 0);
  --tab-menu-item-bg-active: oklch(0.235 0 0);
  --content-bg-color: oklch(0.235 0 0);
  --content-default-color: oklch(0.8699 0 0);
  --content-welcome-title-color: oklch(0.8452 0 0);
  --content-welcome-intro-color: oklch(0.6797 0 0);
  --content-welcome-color: oklch(0.7219 0 0);
  --content-welcome-note-color: oklch(0.4532 0 0);
  --footer-bg-color: oklch(0.567 0.154556 248.5156);
  --footer-color: oklch(1 0 0);
  --footer-item-bg-active: oklch(0.5913 0.1359 244.32);
}

:root {
  --header-height: 35px;
  --icon-menu-width: 48px;
  --explorer-menu-width: 300px;
  --explorer-menu-height: 22px;
  --explorer-menu-icon-width: 20px;
  --tab-menu-height: 35px;
  --tab-menu-icon-width: 16px;
  --content-padding: 25px;
  --footer-height: 22px;
}

body {
  font-family: "Segoe UI", "Pretendard", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.header {
  width: 100%;
  height: var(--header-height);
  background-color: var(--header-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.header .logo {
  width: 16px;
  height: 100%;
  margin: 0 10px;
}
.header .logo .icon--vscode {
  width: 100%;
  height: 100%;
}
.header .title {
  color: var(--header-title-color);
  font-size: 16px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header .menu-bar {
  display: inline-flex;
  margin-right: auto;
  font-size: 13px;
}
.header .menu-bar__item {
  display: inline-flex;
}
.header .menu-bar__link {
  display: flex;
  color: var(--menu-bar-color);
  padding: 5px 8px;
  border-radius: 5px;
  background-color: var(--menu-bar-bg);
  cursor: default;
}
.header .menu-bar__link:hover {
  color: var(--menu-bar-color-hover);
  background-color: var(--menu-bar-bg-hover);
}
.header .window-controls {
  display: flex;
  height: 100%;
}
.header .window-controls__btn {
  border: none;
  border-radius: 0;
  background-color: transparent;
  width: 45px;
  height: 100%;
  transition: all 0.2s;
}
.header .window-controls__btn .icon {
  width: 16px;
  height: 100%;
  color: var(--window-controls-color);
  transition: all 0.2s;
}
.header .window-controls__btn:hover {
  background-color: var(--window-controls-color-hover);
}
.header .window-controls__btn--close:hover {
  background-color: var(--window-controls-close-bg-hover);
}
.header .window-controls__btn--close:hover .icon {
  color: var(--window-controls-close-color-hover);
}

.icon-menu {
  width: var(--icon-menu-width);
  height: calc(100% - var(--header-height) - var(--footer-height));
  position: fixed;
  top: var(--header-height);
  left: 0;
  background-color: var(--icon-menu-bg-color);
}
.icon-menu nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.icon-menu nav hr {
  display: none;
}
.icon-menu__list {
  width: 100%;
}
.icon-menu__item {
  width: 100%;
  position: relative;
}
.icon-menu__link {
  width: 100%;
  height: var(--icon-menu-width);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icon-menu__link .icon--menu {
  color: var(--icon-menu-color);
  height: calc(var(--icon-menu-width) / 2);
}
.icon-menu__link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: var(--icon-menu-color-hover);
  z-index: 1;
  display: none;
}
.icon-menu__link:hover .icon--menu {
  color: var(--icon-menu-color-hover);
}
.icon-menu__link--active .icon--menu {
  color: var(--icon-menu-color-hover);
}
.icon-menu__link--active::after {
  display: block;
}

.explorer-menu {
  width: var(--explorer-menu-width);
  height: calc(100% - var(--header-height) - var(--footer-height));
  position: fixed;
  top: var(--header-height);
  left: var(--icon-menu-width);
  background-color: var(--explorer-menu-bg-color);
  color: var(--explorer-menu-color);
  font-size: 13px;
}
.explorer-menu__title {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
  box-sizing: border-box;
  padding-left: 20px;
  cursor: default;
}
.explorer-menu__title .icon--more {
  color: var(--explorer-menu-color);
  width: calc(var(--explorer-menu-icon-width) - 2px);
  height: calc(var(--explorer-menu-icon-width) - 2px);
  border-radius: 5px;
  padding: 2px;
  margin-right: 12px;
  cursor: pointer;
  background-color: var(--explorer-menu-color-bg);
}
.explorer-menu__title .icon--more:hover {
  background-color: var(--explorer-menu-more-bg-hover);
}
.explorer-menu__section {
  font-size: inherit;
}
.explorer-menu__toggle {
  background-color: transparent;
  border: none;
  font-weight: 700;
  position: relative;
  padding: 0;
  width: 100%;
  height: var(--explorer-menu-height);
  color: var(--explorer-menu-color);
  font-size: 11px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.explorer-menu__toggle .icon--dropdown {
  width: calc(var(--explorer-menu-icon-width) - 2px);
  height: calc(var(--explorer-menu-icon-width) - 2px);
}
.explorer-menu__item {
  width: 100%;
  height: var(--explorer-menu-height);
}
.explorer-menu__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--explorer-menu-color);
  background-color: var(--explorer-menu-color-bg);
  border: 1px solid var(--explorer-menu-color-bg-line);
  box-sizing: border-box;
  padding-left: 14px;
  padding-bottom: 3px;
  cursor: pointer;
}
.explorer-menu__link .icon {
  width: var(--explorer-menu-icon-width);
  height: var(--explorer-menu-icon-width);
  margin-bottom: -3px;
  margin-right: 2px;
}
.explorer-menu__link:hover {
  background-color: var(--explorer-menu-color-bg-hover);
}
.explorer-menu__link--active {
  color: var(--explorer-menu-color-active);
  background-color: var(--explorer-menu-color-bg-active);
  border-color: var(--explorer-menu-color-bg-active);
}
.explorer-menu__link--active:hover {
  background-color: var(--explorer-menu-color-bg-active);
}
.explorer-menu__link--click {
  color: var(--explorer-menu-color-click);
  background-color: var(--explorer-menu-color-bg-click);
  border-color: var(--explorer-menu-color-bg-line-click);
}
.explorer-menu__link--click:hover {
  background-color: var(--explorer-menu-color-bg-click);
}

.tab-menu {
  position: fixed;
  top: var(--header-height);
  left: calc(var(--icon-menu-width) + var(--explorer-menu-width));
  width: 100%;
}
.tab-menu__list {
  display: flex;
  width: 100%;
  background-color: var(--tab-menu-bg-color);
}
.tab-menu__item {
  display: inline-flex;
  min-width: 120px;
  height: var(--tab-menu-height);
  color: var(--tab-menu-color);
  background-color: var(--tab-menu-item-bg-color);
  font-size: 13px;
}
.tab-menu__item .icon {
  width: var(--tab-menu-icon-width);
  height: var(--tab-menu-icon-width);
}
.tab-menu__link {
  color: inherit;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 28px;
  border-right: 1px solid var(--tab-menu-item-line-color);
}
.tab-menu__link--active {
  color: var(--tab-menu-color-active);
  background-color: var(--tab-menu-item-bg-active);
}
.tab-menu__text {
  margin-left: 6px;
  margin-bottom: 2px;
}
.tab-menu__item:last-child .tab-menu__link {
  border-right: none;
}

.footer {
  width: 100%;
  height: var(--footer-height);
  background-color: var(--footer-bg-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
  color: var(--footer-color);
  font-size: 12px;
}

.main {
  display: flex;
  height: 100%;
  position: relative;
}
.main .content {
  margin-top: calc(var(--header-height) * 2);
  margin-left: calc(var(--icon-menu-width) + var(--explorer-menu-width));
  padding-top: var(--content-padding);
  padding-left: calc(var(--content-padding) * 2);
  background-color: var(--content-bg-color);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - (var(--header-height) * 2) - var(--content-padding));
  color: var(--content-default-color);
}
.main .content__item {
  display: none;
  min-height: 100%;
}
.main .content__item--active {
  display: block;
}
.main .content__item--welcome h1 {
  color: var(--content-welcome-title-color);
  font-size: 35px;
}