[data-theme=dark] {
  --header-bg-color: #3c3c3c;
  --menu-bar-color: #c8c8c8;
  --menu-bar-color-hover: #cccccc;
  --menu-bar-bg: transparent;
  --menu-bar-bg-hover: #454646;
  --header-title-color: #ffffff;
  --window-controls-color: #cccccc;
  --window-controls-color-hover: #565656;
  --window-controls-close-color-hover: #ffffff;
  --window-controls-close-bg-hover: #e81123;
  --main-bg-color: #252526;
  --icon-menu-bg-color: #333333;
  --icon-menu-color: #858585;
  --icon-menu-color-hover: #ffffff;
  --explorer-menu-bg-color: #252526;
  --explorer-menu-color: #cccccc;
  --explorer-menu-color-bg: transparent;
  --explorer-menu-color-bg-line: transparent;
  --explorer-menu-more-bg-hover: #363737;
  --explorer-menu-color-bg-hover: #2a2d2e;
  --explorer-menu-color-bg-active: #37373d;
  --explorer-menu-color-click: #ffffff;
  --explorer-menu-color-bg-click: #04395e;
  --explorer-menu-color-bg-line-click: #007fd4;
  --tab-menu-bg-color: #252526;
  --tab-menu-item-bg-color: #2d2d2d;
  --tab-menu-item-line-color: #252526;
  --tab-menu-color: #717171;
  --tab-menu-color-active: #ffffff;
  --tab-menu-item-bg-active: #1e1e1e;
  --content-bg-color: #1e1e1e;
  --content-default-color: #d4d4d4;
  --content-welcome-title-color: #cccccc;
  --content-welcome-intro-color: #989898;
  --content-welcome-color: #a5a5a5;
  --content-welcome-point-color: #3794ff;
  --content-welcome-note-color: #565656;
  --content-line-numbers-color: #858585;
  --content-projects-line-color: #3a3a3a;
  --content-projects-line-shadow-color: #2e2e2e;
  --content-projects-title-color: #ffffff;
  --content-js-doctype-highlight-color: #bd63c5;
  --footer-bg-color: #007acc;
  --footer-color: #f7f9fd;
  --footer-item-bg-hover: #1e84c8;
  --footer-remote-color: #ffffff;
  --footer-remote-bg-color: #16825d;
  --footer-remote-bg-color-hover: #329071;
}

:root {
  --header-height: 35px;
  --icon-menu-width: 48px;
  --explorer-menu-width: 300px;
  --explorer-menu-height: 22px;
  --explorer-menu-icon-width: 20px;
  --tab-menu-height: 35px;
  --tab-menu-icon-width: 16px;
  --content-padding: 25px;
  --footer-height: 22px;
}

body {
  font-family: "Segoe UI", "Pretendard", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.header {
  width: 100%;
  height: var(--header-height);
  background-color: var(--header-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.header .logo {
  width: 16px;
  height: 100%;
  margin: 0 10px;
}
.header .logo .icon--vscode {
  width: 100%;
  height: 100%;
}
.header .title {
  color: var(--header-title-color);
  font-size: 16px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header .menu-bar {
  display: inline-flex;
  margin-right: auto;
  font-size: 13px;
}
.header .menu-bar__item {
  display: inline-flex;
}
.header .menu-bar__link {
  display: flex;
  color: var(--menu-bar-color);
  padding: 5px 8px;
  border-radius: 5px;
  background-color: var(--menu-bar-bg);
  cursor: default;
}
.header .menu-bar__link:hover {
  color: var(--menu-bar-color-hover);
  background-color: var(--menu-bar-bg-hover);
}
.header .window-controls {
  display: flex;
  height: 100%;
}
.header .window-controls__btn {
  border: none;
  border-radius: 0;
  background-color: transparent;
  width: 45px;
  height: 100%;
  transition: all 0.2s;
}
.header .window-controls__btn .icon {
  width: 16px;
  height: 100%;
  color: var(--window-controls-color);
  transition: all 0.2s;
}
.header .window-controls__btn:hover {
  background-color: var(--window-controls-color-hover);
}
.header .window-controls__btn--close:hover {
  background-color: var(--window-controls-close-bg-hover);
}
.header .window-controls__btn--close:hover .icon {
  color: var(--window-controls-close-color-hover);
}

@media screen and (max-width: 768px) {
  .header .logo,
.header .menu-bar,
.header .window-controls {
    display: none;
  }
  .header .title {
    position: relative;
    left: auto;
    transform: none;
    text-align: center;
    width: 100%;
    font-size: 16px;
    color: var(--header-title-color);
    padding: 10px 0;
  }
}
.icon-menu {
  width: var(--icon-menu-width);
  height: calc(100% - var(--header-height) - var(--footer-height));
  position: fixed;
  top: var(--header-height);
  left: 0;
  background-color: var(--icon-menu-bg-color);
}
.icon-menu nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.icon-menu nav hr {
  display: none;
}
.icon-menu__list {
  width: 100%;
}
.icon-menu__item {
  width: 100%;
  position: relative;
}
.icon-menu__link {
  width: 100%;
  height: var(--icon-menu-width);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icon-menu__link .icon--menu {
  color: var(--icon-menu-color);
  height: calc(var(--icon-menu-width) / 2);
}
.icon-menu__link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: var(--icon-menu-color-hover);
  z-index: 1;
  display: none;
}
.icon-menu__link:hover .icon--menu {
  color: var(--icon-menu-color-hover);
}
.icon-menu__link--active .icon--menu {
  color: var(--icon-menu-color-hover);
}
.icon-menu__link--active::after {
  display: block;
}

.explorer-menu {
  width: var(--explorer-menu-width);
  height: calc(100% - var(--header-height) - var(--footer-height));
  position: fixed;
  top: var(--header-height);
  left: var(--icon-menu-width);
  background-color: var(--explorer-menu-bg-color);
  color: var(--explorer-menu-color);
  font-size: 13px;
}
.explorer-menu__title {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
  box-sizing: border-box;
  padding-left: 20px;
  cursor: default;
}
.explorer-menu__title .icon--more {
  color: var(--explorer-menu-color);
  width: calc(var(--explorer-menu-icon-width) - 2px);
  height: calc(var(--explorer-menu-icon-width) - 2px);
  border-radius: 5px;
  padding: 2px;
  margin-right: 12px;
  cursor: pointer;
  background-color: var(--explorer-menu-color-bg);
}
.explorer-menu__title .icon--more:hover {
  background-color: var(--explorer-menu-more-bg-hover);
}
.explorer-menu__section {
  font-size: inherit;
}
.explorer-menu__toggle {
  background-color: transparent;
  border: none;
  font-weight: 700;
  position: relative;
  padding: 0;
  width: 100%;
  height: var(--explorer-menu-height);
  color: var(--explorer-menu-color);
  font-size: 11px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.explorer-menu__toggle .icon--dropdown {
  width: calc(var(--explorer-menu-icon-width) - 2px);
  height: calc(var(--explorer-menu-icon-width) - 2px);
}
.explorer-menu__item {
  width: 100%;
  height: var(--explorer-menu-height);
}
.explorer-menu__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--explorer-menu-color);
  background-color: var(--explorer-menu-color-bg);
  border: 1px solid var(--explorer-menu-color-bg-line);
  box-sizing: border-box;
  padding-left: 14px;
  padding-bottom: 3px;
  cursor: pointer;
}
.explorer-menu__link .icon {
  width: var(--explorer-menu-icon-width);
  height: var(--explorer-menu-icon-width);
  margin-bottom: -3px;
  margin-right: 2px;
}
.explorer-menu__link:hover {
  background-color: var(--explorer-menu-color-bg-hover);
}
.explorer-menu__link--active {
  color: var(--explorer-menu-color-active);
  background-color: var(--explorer-menu-color-bg-active);
  border-color: var(--explorer-menu-color-bg-active);
}
.explorer-menu__link--active:hover {
  background-color: var(--explorer-menu-color-bg-active);
}
.explorer-menu__link--click {
  color: var(--explorer-menu-color-click);
  background-color: var(--explorer-menu-color-bg-click);
  border-color: var(--explorer-menu-color-bg-line-click);
}
.explorer-menu__link--click:hover {
  background-color: var(--explorer-menu-color-bg-click);
}

@media screen and (max-width: 768px) {
  .explorer-menu {
    display: none;
  }
}
.tab-menu {
  overflow: hidden;
}
.tab-menu-wrapper {
  position: fixed;
  top: var(--header-height);
  left: calc(var(--icon-menu-width) + var(--explorer-menu-width));
  width: 100%;
}
.tab-menu-scrollbar {
  display: none;
}
.tab-menu__list {
  display: flex;
  width: 100%;
  background-color: var(--tab-menu-bg-color);
}
.tab-menu__item {
  display: inline-flex;
  min-width: 120px;
  height: var(--tab-menu-height);
  color: var(--tab-menu-color);
  background-color: var(--tab-menu-item-bg-color);
  font-size: 13px;
}
.tab-menu__item .icon {
  width: var(--tab-menu-icon-width);
  height: var(--tab-menu-icon-width);
}
.tab-menu__link {
  color: inherit;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 28px;
  border-right: 1px solid var(--tab-menu-item-line-color);
}
.tab-menu__link--active {
  color: var(--tab-menu-color-active);
  background-color: var(--tab-menu-item-bg-active);
}
.tab-menu__text {
  margin-left: 6px;
  margin-bottom: 2px;
}
.tab-menu__item:last-child .tab-menu__link {
  border-right: none;
}

@media screen and (max-width: 768px) {
  .tab-menu {
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .tab-menu-wrapper {
    left: var(--icon-menu-width);
    width: calc(100% - var(--icon-menu-width));
  }
  .tab-menu::-webkit-scrollbar {
    display: none;
  }
  .tab-menu__list {
    display: inline-flex;
    width: max-content;
    white-space: nowrap;
  }
  .tab-menu-scrollbar {
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    height: 10px;
    background-color: transparent;
    position: relative;
    width: calc(100% - 12px);
    z-index: 1;
    margin: 0 6px;
  }
  .tab-menu-scrollbar::-webkit-scrollbar {
    height: 6px;
  }
  .tab-menu-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .tab-menu-scrollbar::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
  }
  .tab-menu-scrollbar__inner {
    height: 0;
  }
}
.footer {
  width: 100%;
  height: var(--footer-height);
  background-color: var(--footer-bg-color);
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
  color: var(--footer-color);
  font-size: 12px;
}
.footer .status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .status-bar__list {
  display: block;
  height: var(--footer-height);
}
.footer .status-bar__item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2px;
  cursor: pointer;
}
.footer .status-bar__item .icon {
  width: 14px;
  height: 14px;
  color: var(--footer-color);
}
.footer .status-bar__item--remote {
  background-color: var(--footer-remote-bg-color);
  min-width: 34px;
  padding: 0;
}
.footer .status-bar__item--remote .icon {
  color: var(--footer-remote-color);
}
.footer .status-bar__item--remote:hover {
  background-color: var(--footer-remote-bg-color-hover);
}

.main {
  display: flex;
  position: relative;
}

.content {
  margin-top: calc(var(--header-height) * 2);
  margin-left: calc(var(--icon-menu-width) + var(--explorer-menu-width));
  padding: var(--content-padding);
  background-color: var(--content-bg-color);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - (var(--header-height) * 2));
  color: var(--content-default-color);
}
.content__item {
  display: none;
  width: 100%;
  min-height: 100%;
}
.content__item--active {
  display: block;
}
.content__item--welcome {
  margin-top: 50px;
  padding: 0 var(--content-padding);
}
.content__item--welcome h1 {
  color: var(--content-welcome-title-color);
  font-size: 35px;
}
.content__item--welcome .welcome-intro {
  color: var(--content-welcome-intro-color);
  font-size: 18px;
  margin-top: 10px;
}
.content__item--welcome .welcome-group {
  margin-top: 35px;
}
.content__item--welcome .welcome-group__title {
  color: var(--content-welcome-title-color);
  font-size: 18px;
  margin-bottom: 8px;
}
.content__item--welcome .welcome-group .icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.content__item--welcome .welcome-group__item {
  width: 100%;
}
.content__item--welcome .welcome-group__link {
  display: inline-flex;
  align-items: center;
  margin: 6px 0;
  color: var(--content-welcome-point-color);
}
.content__item--welcome .welcome-group__link:hover {
  text-decoration: underline;
}
.content__item--welcome .welcome-note {
  color: var(--content-welcome-note-color);
  margin-top: 50px;
}
.content .code-block {
  display: flex;
  flex-direction: column;
  font-family: "Consolas", "Segoe UI", "Pretendard", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
.content .code-block .code-line {
  display: flex;
}
.content .code-block .line-number {
  display: inline-block;
  flex-shrink: 0;
  width: 30px;
  margin-right: 15px;
  text-align: right;
  color: var(--content-line-numbers-color);
  user-select: none;
}
.content .code-block .line-number span {
  display: block;
  font-size: 14px;
  line-height: 1.72;
}
.content .code-block .code-text {
  flex: 1;
}
.content .code-block code {
  padding-top: 0;
  padding-bottom: 0;
}

.content__item--about .code-line4 .code-text {
  padding-left: 15px;
}
.content__item--about .code-line7 .code-text, .content__item--about .code-line15 .code-text {
  padding-left: 15px;
}
.content__item--about .code-line8 .code-text, .content__item--about .code-line9 .code-text, .content__item--about .code-line10 .code-text, .content__item--about .code-line11 .code-text, .content__item--about .code-line12 .code-text, .content__item--about .code-line13 .code-text, .content__item--about .code-line14 .code-text {
  padding-left: 30px;
}

.content__item--skills .code-line6 .code-text, .content__item--skills .code-line10 .code-text, .content__item--skills .code-line14 .code-text, .content__item--skills .code-line21 .code-text, .content__item--skills .code-line25 .code-text, .content__item--skills .code-line29 .code-text, .content__item--skills .code-line33 .code-text, .content__item--skills .code-line37 .code-text, .content__item--skills .code-line44 .code-text, .content__item--skills .code-line48 .code-text {
  padding-left: 15px;
}

.projects h1 {
  font-size: 24px;
}
.projects__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem;
  margin-top: 50px;
}
.projects__item {
  width: 100%;
  min-height: 30vw;
}
.projects-card {
  border: 1px solid var(--content-projects-line-color);
  border-radius: 20px;
  box-shadow: 0 0 0 0 var(--content-projects-line-shadow-color);
  transition: box-shadow 0.3s;
}
.projects-card__link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 15px;
}
.projects-card__thumbnail {
  width: 100%;
  height: 15vw;
  overflow: hidden;
  border-radius: 10px;
}
.projects-card__thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.projects-card__info {
  color: var(--content-default-color);
}
.projects-card__title {
  color: var(--content-projects-title-color);
  font-size: 20px;
  font-weight: 700;
  margin-top: 15px;
}
.projects-card__desc {
  margin-top: 10px;
}
.projects-card__tags {
  margin-top: 10px;
}
.projects-card__category {
  display: inline-flex;
  padding: 5px 10px;
  padding-bottom: 7px;
  border-radius: 20px;
  border: 1px solid var(--content-projects-line-color);
  margin-right: 3px;
}
.projects-card__category--personal {
  color: #ffffff;
  border-color: #004299;
  background-color: #004299;
}
.projects-card__category--company {
  color: #ffffff;
  border-color: #710099;
  background-color: #710099;
}
.projects-card__more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
  border: 3px solid var(--content-projects-line-color);
  border-radius: 30px;
}
.projects-card:hover {
  box-shadow: 0 0 0 10px var(--content-projects-line-shadow-color);
}
.projects-card:hover .projects-card__more {
  border: none;
  padding: calc(10px + 3px);
  color: #ffffff;
  background: linear-gradient(to right in oklch, #0069cc, #7400cc);
}

.content__item--contact a {
  color: #d69d85;
}

.footer {
  width: 100%;
  height: var(--footer-height);
  background-color: var(--footer-bg-color);
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
  color: var(--footer-color);
  font-size: 12px;
}
.footer .status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .status-bar__list {
  display: flex;
  height: var(--footer-height);
}
.footer .status-bar__list--right {
  margin-right: 8px;
}
.footer .status-bar__item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 4px;
  margin: 0 4px;
  cursor: pointer;
}
.footer .status-bar__item:hover {
  background-color: var(--footer-item-bg-hover);
}
.footer .status-bar__item .icon {
  width: 14px;
  height: 14px;
  color: var(--footer-color);
}
.footer .status-bar__item--remote {
  background-color: var(--footer-remote-bg-color);
  min-width: 34px;
  padding: 0;
  margin: 0;
}
.footer .status-bar__item--remote .icon {
  color: var(--footer-remote-color);
}
.footer .status-bar__item--remote:hover {
  background-color: var(--footer-remote-bg-color-hover);
}
.footer .status-bar__text {
  margin: 0 4px;
  margin-bottom: 2px;
}
.footer .status-bar__problems {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .content {
    margin-left: var(--icon-menu-width) !important;
    width: calc(100% - var(--icon-menu-width));
  }
}
@media screen and (max-width: 768px) {
  .main .content__item {
    padding: 0;
    padding-bottom: var(--content-padding);
    box-sizing: border-box;
    line-height: 1.5;
  }
  .main .content__item--welcome {
    margin-top: 0;
  }
  .main .content__item--welcome .welcome-note {
    margin-top: 20px;
  }
  .main .content__item .code-block {
    font-size: 14px;
  }
  .main .content__item .code-block code {
    white-space: pre-wrap;
    word-break: break-word;
  }
}