[data-theme=dark] {
  --header-bg-color: oklch(0.3562 0 0);
  --menu-bar-color: oklch(0.8328 0 0);
  --menu-bar-color-hover: oklch(0.8452 0 0);
  --menu-bar-bg: transparent;
  --menu-bar-bg-hover: oklch(0.3932 0.0013 197.1);
  --window-controls-color: oklch(0.8452 0 0);
  --window-controls-color-hover: oklch(0.4532 0 0);
  --window-controls-close-color-hover: oklch(1 0 0);
  --window-controls-close-bg-hover: oklch(0.5899 0.2344 26.3);
}

:root {
  --header-height: 35px;
}

body {
  font-family: "Segoe UI", "Pretendard", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: var(--header-height);
  background-color: var(--header-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header .logo {
  width: 16px;
  height: 100%;
  margin: 0 10px;
}
.header .logo .icon--vscode {
  width: 100%;
  height: 100%;
}
.header .title {
  color: oklch(1 0 0);
  font-size: 16px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header .menu-bar {
  display: inline-flex;
  margin-right: auto;
  font-size: 13px;
}
.header .menu-bar__item {
  display: inline-flex;
}
.header .menu-bar__link {
  display: flex;
  color: var(--menu-bar-color);
  padding: 5px 8px;
  border-radius: 5px;
  background-color: var(--menu-bar-bg);
  cursor: default;
  letter-spacing: -0.5px;
}
.header .menu-bar__link:hover {
  color: var(--menu-bar-color-hover);
  background-color: var(--menu-bar-bg-hover);
}
.header .window-controls {
  display: flex;
  height: 100%;
}
.header .window-controls__btn {
  border: none;
  border-radius: 0;
  background-color: transparent;
  width: 45px;
  height: 100%;
  transition: all 0.2s;
}
.header .window-controls__btn .icon {
  width: 16px;
  height: 100%;
  color: var(--window-controls-color);
  transition: all 0.2s;
}
.header .window-controls__btn:hover {
  background-color: var(--window-controls-color-hover);
}
.header .window-controls__btn--close:hover {
  background-color: var(--window-controls-close-bg-hover);
}
.header .window-controls__btn--close:hover .icon {
  color: var(--window-controls-close-color-hover);
}

[data-theme=dark] {
  --main-bg-color: oklch(0.2649 0.0018 286.27);
  --icon-menu-bg-color: oklch(0.3211 0 0);
  --icon-menu-color: oklch(0.6167 0 0);
  --icon-menu-color-hover: oklch(1 0 0);
  --explorer-menu-bg-color: oklch(0.2649 0.0018 286.27);
  --explorer-menu-color: oklch(0.8452 0 0);
  --explorer-menu-color-bg: transparent;
  --explorer-menu-color-bg-line: transparent;
  --explorer-menu-more-bg-hover: oklch(0.3358 0.0014 197.09);
  --explorer-menu-color-bg-hover: oklch(0.2946 0.0046 219.63);
  --explorer-menu-color-bg-active: oklch(0.334 0.0827 246.12);
  --explorer-menu-color-bg-line-active: oklch(0.5836 0.159068 248.5119);
  --tab-menu-color: oklch(0.6467 0 0);
  --tab-menu-color-active: oklch(1 0 0);
}

:root {
  --icon-menu-width: 48px;
  --explorer-menu-width: 300px;
}

.main .icon-menu {
  width: var(--icon-menu-width);
  height: calc(100% - var(--header-height));
  position: fixed;
  top: var(--header-height);
  left: 0;
  background-color: var(--icon-menu-bg-color);
}
.main .icon-menu nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .icon-menu nav hr {
  display: none;
}
.main .icon-menu__list {
  width: 100%;
}
.main .icon-menu__item {
  width: 100%;
  position: relative;
}
.main .icon-menu__link {
  width: 100%;
  height: var(--icon-menu-width);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.main .icon-menu__link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: var(--icon-menu-color-hover);
  z-index: 1;
  display: none;
}
.main .icon-menu__link:hover .icon--menu {
  color: var(--icon-menu-color-hover);
}
.main .icon-menu__link--active::after {
  display: block;
}
.main .icon-menu .icon--menu {
  color: var(--icon-menu-color);
  height: calc(var(--icon-menu-width) / 2);
}
.main .explorer-menu {
  width: var(--explorer-menu-width);
  height: calc(100% - var(--header-height));
  position: fixed;
  top: var(--header-height);
  left: var(--icon-menu-width);
  background-color: var(--explorer-menu-bg-color);
  color: var(--explorer-menu-color);
  font-size: 11px;
}
.main .explorer-menu__title {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
  box-sizing: border-box;
  padding-left: 20px;
}
.main .explorer-menu__title .icon--more {
  color: var(--explorer-menu-color);
  width: 18px;
  height: 18px;
  border-radius: 5px;
  margin-right: 12px;
  cursor: pointer;
  background-color: var(--explorer-menu-color-bg);
}
.main .explorer-menu__title .icon--more:hover {
  background-color: var(--explorer-menu-more-bg-hover);
}