@use 'themes/dark';
@use 'globals/root';
@use 'layout/header';
@use 'layout/icon-menu';
@use 'layout/explorer-menu';
@use 'layout/tab-menu';
@use 'layout/footer';

.main {
    display: flex;
    height: 100%;
    position: relative;

    .content {
        margin-top: calc(var(--header-height) * 2);
        margin-left: calc(var(--icon-menu-width) + var(--explorer-menu-width));
        padding-top: var(--content-padding);
        padding-left: calc(var(--content-padding) * 2);
        background-color: var(--content-bg-color);
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        min-height: calc(100vh - (var(--header-height) * 2) - var(--content-padding));
        color: var(--content-default-color);

        &__item {
            display: none;
            min-height: 100%;

            &--active {
                display: block;
            }

            &--welcome {
                h1 {
                    color: var(--content-welcome-title-color);
                    font-size: 35px;
                }
            }
        }
    }
}