@use "palette" as palette;
@use 'tokens.dark' as dark;

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url('SegoeUI.css');
@import url('Consolas.css');


[data-theme="dark"] {
    --header-bg-color: #{dark.$header-bg-color};
    --menu-bar-color: #{dark.$menu-bar-color};
    --menu-bar-color-hover: #{dark.$menu-bar-color-hover};
    --menu-bar-bg: #{dark.$menu-bar-bg};
    --menu-bar-bg-hover: #{dark.$menu-bar-bg-hover};
    --window-controls-color: #{dark.$window-controls-color};
    --window-controls-color-hover: #{dark.$window-controls-color-hover};
    --window-controls-close-color-hover: #{dark.$window-controls-close-color-hover};
    --window-controls-close-bg-hover: #{dark.$window-controls-close-bg-hover};
}

body {
    font-family: 'Segoe UI', 'Pretendard', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: 35px;
    background-color: var(--header-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
        width: 16px;
        height: 100%;
        margin: 0 10px;

        .icon--vscode {
            width: 100%;
            height: 100%;
        }
    }

    .title {
        color: palette.$white;
        font-size: 16px;
        margin: 0 auto;
    }

    .menu-bar {
        display: inline-flex;

        &__item {
            display: inline-flex;
        }
        &__link {
            display: flex;
            color: var(--menu-bar-color);
            padding: 3px 5px;
            border-radius: 5px;
            background-color: var(--menu-bar-bg);
            cursor: default;

            &:hover {
                color: var(--menu-bar-color-hover);
                background-color: var(--menu-bar-bg-hover);
            }
        }
    }

    .window-controls {
        display: flex;
        height: 100%;

        &__btn {
            border: none;
            border-radius: 0;
            background-color: transparent;
            width: 45px;
            height: 100%;
            transition: all .2s;

            .icon {
                width: 16px;
                height: 100%;
                color: var(--window-controls-color);
                transition: all .2s;
            }

            &:hover {
                background-color: var(--window-controls-color-hover);
            }

            &--close {
                &:hover {
                    background-color: var(--window-controls-close-bg-hover);

                    .icon {
                        color: var(--window-controls-close-color-hover);
                    }
                }
            }
        }
    }
}
