.content__item--user {
  margin-top: 50px;
  padding: 0 var(--content-padding);
}
.content__item--user h1 {
  color: var(--content-welcome-title-color);
  font-size: 35px;
}
.content__item--user .user-intro {
  color: var(--content-welcome-intro-color);
  font-size: 18px;
  margin-top: 10px;
  padding-right: var(--content-padding);
}
.content__item--user .user-content {
  margin-top: 35px;
  padding-right: var(--content-padding);
  max-width: 780px;
}
.content__item--user .user-content p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .content__item--user {
    margin-top: 0;
  }
}