[data-theme=dark] {
  --header-bg-color: #3c3c3c;
  --menu-bar-color: #c8c8c8;
  --menu-bar-color-hover: #cccccc;
  --menu-bar-bg: transparent;
  --menu-bar-bg-hover: #454646;
  --header-title-color: #ffffff;
  --window-controls-color: #cccccc;
  --window-controls-color-hover: #565656;
  --window-controls-close-color-hover: #ffffff;
  --window-controls-close-bg-hover: #e81123;
  --main-bg-color: #252526;
  --icon-menu-bg-color: #333333;
  --icon-menu-color: #858585;
  --icon-menu-color-hover: #ffffff;
  --icon-menu-color-active-line: #ffffff;
  --explorer-menu-bg-color: #252526;
  --explorer-menu-color: #cccccc;
  --explorer-menu-color-bg: transparent;
  --explorer-menu-color-bg-line: transparent;
  --explorer-menu-more-bg-hover: #363737;
  --explorer-menu-color-bg-hover: #2a2d2e;
  --explorer-menu-color-bg-active: #37373d;
  --explorer-menu-color-click: #ffffff;
  --explorer-menu-color-bg-click: #04395e;
  --explorer-menu-color-bg-line-click: #007fd4;
  --tab-menu-bg-color: #252526;
  --tab-menu-item-bg-color: #2d2d2d;
  --tab-menu-item-line-color: #252526;
  --tab-menu-color: #717171;
  --tab-menu-color-active: #ffffff;
  --tab-menu-item-bg-active: #1e1e1e;
  --tab-menu-scrollbar: #000000;
  --content-bg-color: #1e1e1e;
  --content-default-color: #d4d4d4;
  --content-highlight-color: #264f78;
  --content-welcome-title-color: #cccccc;
  --content-welcome-intro-color: #989898;
  --content-welcome-color: #a5a5a5;
  --content-welcome-link-color: #3794ff;
  --content-welcome-note-color: #565656;
  --content-line-numbers-color: #858585;
  --content-projects-line-color: #3a3a3a;
  --content-projects-line-shadow-color: #2e2e2e;
  --content-projects-title-color: #ffffff;
  --content-projects-personal-color: #004299;
  --content-projects-company-color: #710099;
  --content-projects-more-line-color: #3a3a3a;
  --content-projects-more-gradient-start-color: #0069cc;
  --content-projects-more-gradient-end-color: #7400cc;
  --content-contact-link-color: #d69d85;
  --content-setting-thumbnail-color: #282829;
  --content-setting-button-color: #ffffff;
  --content-setting-button-bg-color: #007acc;
  --footer-bg-color: #007acc;
  --footer-color: #f7f9fd;
  --footer-item-bg-hover: #1e84c8;
  --footer-remote-color: #ffffff;
  --footer-remote-bg-color: #16825d;
  --footer-remote-bg-color-hover: #329071;
}