[data-theme=dark] {
  --header-bg-color: oklch(0.3562 0 0);
  --menu-bar-color: oklch(0.8328 0 0);
  --menu-bar-color-hover: oklch(0.8452 0 0);
  --menu-bar-bg: transparent;
  --menu-bar-bg-hover: oklch(0.3932 0.0013 197.1);
  --window-controls-color: oklch(0.8452 0 0);
  --window-controls-color-hover: oklch(0.4532 0 0);
  --window-controls-close-color-hover: oklch(1 0 0);
  --window-controls-close-bg-hover: oklch(0.5899 0.2344 26.3);
}

:root {
  --header-height: 35px;
}

body {
  font-family: "Segoe UI", "Pretendard", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: var(--header-height);
  background-color: var(--header-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header .logo {
  width: 16px;
  height: 100%;
  margin: 0 10px;
}
.header .logo .icon--vscode {
  width: 100%;
  height: 100%;
}
.header .title {
  color: oklch(1 0 0);
  font-size: 16px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header .menu-bar {
  display: inline-flex;
  margin-right: auto;
  font-size: 13px;
}
.header .menu-bar__item {
  display: inline-flex;
}
.header .menu-bar__link {
  display: flex;
  color: var(--menu-bar-color);
  padding: 5px 8px;
  border-radius: 5px;
  background-color: var(--menu-bar-bg);
  cursor: default;
  letter-spacing: -0.5px;
}
.header .menu-bar__link:hover {
  color: var(--menu-bar-color-hover);
  background-color: var(--menu-bar-bg-hover);
}
.header .window-controls {
  display: flex;
  height: 100%;
}
.header .window-controls__btn {
  border: none;
  border-radius: 0;
  background-color: transparent;
  width: 45px;
  height: 100%;
  transition: all 0.2s;
}
.header .window-controls__btn .icon {
  width: 16px;
  height: 100%;
  color: var(--window-controls-color);
  transition: all 0.2s;
}
.header .window-controls__btn:hover {
  background-color: var(--window-controls-color-hover);
}
.header .window-controls__btn--close:hover {
  background-color: var(--window-controls-close-bg-hover);
}
.header .window-controls__btn--close:hover .icon {
  color: var(--window-controls-close-color-hover);
}