.icon-menu {
  width: var(--icon-menu-width);
  height: calc(100% - var(--header-height) - var(--footer-height));
  position: fixed;
  top: var(--header-height);
  left: 0;
  background-color: var(--icon-menu-bg-color);
}
.icon-menu nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.icon-menu nav hr {
  display: none;
}
.icon-menu__list {
  width: 100%;
}
.icon-menu__item {
  width: 100%;
  position: relative;
}
.icon-menu__link {
  width: 100%;
  height: var(--icon-menu-width);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icon-menu__link .icon--menu {
  color: var(--icon-menu-color);
  height: calc(var(--icon-menu-width) / 2);
}
.icon-menu__link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: var(--icon-menu-color-active-line);
  z-index: 1;
  display: none;
}
.icon-menu__link:hover .icon--menu {
  color: var(--icon-menu-color-hover);
}
.icon-menu__link--active .icon--menu {
  color: var(--icon-menu-color-hover);
}
.icon-menu__link--active::after {
  display: block;
}