[data-theme=light] {
  --header-bg-color: #dddddd;
  --menu-bar-color: #333333;
  --menu-bar-color-hover: #333333;
  --menu-bar-bg: transparent;
  --menu-bar-bg-hover: #d2d2d2;
  --header-title-color: #1e1e1e;
  --window-controls-color: #333333;
  --window-controls-color-hover: #c0c0c0;
  --window-controls-close-color-hover: #ffffff;
  --window-controls-close-bg-hover: #e81123;
  --main-bg-color: #ffffff;
  --icon-menu-bg-color: #f8f8f8;
  --icon-menu-color: #616161;
  --icon-menu-color-hover: #1f1f1f;
  --icon-menu-color-active-line: #005fb8;
  --explorer-menu-bg-color: #f3f3f3;
  --explorer-menu-color: #616161;
  --explorer-menu-color-bg: transparent;
  --explorer-menu-color-bg-line: transparent;
  --explorer-menu-more-bg-hover: #e1e1e1;
  --explorer-menu-color-bg-hover: #e8e8e8;
  --explorer-menu-color-bg-active: #e4e6f1;
  --explorer-menu-color-click: #ffffff;
  --explorer-menu-color-bg-click: #0060c0;
  --explorer-menu-color-bg-line-click: #90c2f9;
  --tab-menu-bg-color: #f3f3f3;
  --tab-menu-item-bg-color: #ececec;
  --tab-menu-item-line-color: #f3f3f3;
  --tab-menu-color: #6a6a6a;
  --tab-menu-color-active: #707070;
  --tab-menu-item-bg-active: #ffffff;
  --tab-menu-scrollbar: #cccccc;
  --content-bg-color: #ffffff;
  --content-default-color: #000000;
  --content-highlight-color: #add6ff;
  --content-welcome-title-color: #cccccc;
  --content-welcome-intro-color: #717171;
  --content-welcome-color: #616161;
  --content-welcome-link-color: #006ab1;
  --content-welcome-note-color: #565656;
  --content-line-numbers-color: #237893;
  --content-projects-line-color: #cccccc;
  --content-projects-line-shadow-color: #eeeeee;
  --content-projects-title-color: #3a3a3a;
  --content-projects-personal-color: #006eff;
  --content-projects-company-color: #bc00ff;
  --content-projects-more-line-color: #dedede;
  --content-projects-more-gradient-start-color: #0083ff;
  --content-projects-more-gradient-end-color: #9100ff;
  --content-contact-link-color: #a31515;
  --content-setting-thumbnail-color: #dedede;
  --content-setting-button-color: #ffffff;
  --content-setting-button-bg-color: #007acc;
  --footer-bg-color: #007acc;
  --footer-color: #f7f9fd;
  --footer-item-bg-hover: #1e84c8;
  --footer-remote-color: #ffffff;
  --footer-remote-bg-color: #16825d;
  --footer-remote-bg-color-hover: #329071;
}