.tab-menu {
  overflow: hidden;
}
.tab-menu-wrapper {
  position: fixed;
  top: var(--header-height);
  left: calc(var(--icon-menu-width) + var(--explorer-menu-width));
  width: calc(100% - calc(var(--icon-menu-width) + var(--explorer-menu-width)));
}
.tab-menu-scrollbar {
  display: none;
}
.tab-menu__list {
  display: flex;
  width: 100%;
  background-color: var(--tab-menu-bg-color);
}
.tab-menu__item {
  display: inline-flex;
  min-width: 120px;
  height: var(--tab-menu-height);
  color: var(--tab-menu-color);
  background-color: var(--tab-menu-item-bg-color);
  font-size: 13px;
}
.tab-menu__item .icon {
  width: var(--tab-menu-icon-width);
  height: var(--tab-menu-icon-width);
}
.tab-menu__link {
  color: inherit;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 28px;
  border-right: 1px solid var(--tab-menu-item-line-color);
}
.tab-menu__link--active {
  color: var(--tab-menu-color-active);
  background-color: var(--tab-menu-item-bg-active);
}
.tab-menu__text {
  margin-left: 6px;
  margin-bottom: 2px;
}
.tab-menu__item:last-child .tab-menu__link {
  border-right: none;
}