[data-theme=dark] {
  --header-bg-color: #3c3c3c;
  --menu-bar-color: #c8c8c8;
  --menu-bar-color-hover: #cccccc;
  --menu-bar-bg: transparent;
  --menu-bar-bg-hover: #454646;
  --header-title-color: #ffffff;
  --window-controls-color: #cccccc;
  --window-controls-color-hover: #565656;
  --window-controls-close-color-hover: #ffffff;
  --window-controls-close-bg-hover: #e81123;
  --main-bg-color: #252526;
  --icon-menu-bg-color: #333333;
  --icon-menu-color: #858585;
  --icon-menu-color-hover: #ffffff;
  --explorer-menu-bg-color: #252526;
  --explorer-menu-color: #cccccc;
  --explorer-menu-color-bg: transparent;
  --explorer-menu-color-bg-line: transparent;
  --explorer-menu-more-bg-hover: #363737;
  --explorer-menu-color-bg-hover: #2a2d2e;
  --explorer-menu-color-bg-active: #37373d;
  --explorer-menu-color-click: #ffffff;
  --explorer-menu-color-bg-click: #04395e;
  --explorer-menu-color-bg-line-click: #007fd4;
  --tab-menu-bg-color: #252526;
  --tab-menu-item-bg-color: #2d2d2d;
  --tab-menu-item-line-color: #252526;
  --tab-menu-color: #717171;
  --tab-menu-color-active: #ffffff;
  --tab-menu-item-bg-active: #1e1e1e;
  --content-bg-color: #1e1e1e;
  --content-default-color: #d4d4d4;
  --content-welcome-title-color: #cccccc;
  --content-welcome-intro-color: #989898;
  --content-welcome-color: #a5a5a5;
  --content-welcome-point-color: #3794ff;
  --content-welcome-note-color: #565656;
  --content-line-numbers-color: #858585;
  --content-projects-line-color: #3a3a3a;
  --content-projects-line-shadow-color: #2e2e2e;
  --content-projects-title-color: #ffffff;
  --content-js-doctype-highlight-color: #bd63c5;
  --footer-bg-color: #007acc;
  --footer-color: #f7f9fd;
  --footer-item-bg-hover: #1e84c8;
  --footer-remote-color: #ffffff;
  --footer-remote-bg-color: #16825d;
  --footer-remote-bg-color-hover: #329071;
}

@media screen and (max-width: 768px) {
  .tab-menu {
    left: var(--icon-menu-width);
    overflow: hidden;
  }
  .tab-menu__list {
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .tab-menu__list::-webkit-scrollbar {
    display: none;
  }
}