@use '../themes/dark';

@media screen and (max-width: 768px) {
    .tab-menu {
        &-wrapper {
            left: var(--icon-menu-width);
            width: calc(100% - var(--icon-menu-width));
        }

        overflow-x: auto;
        white-space: nowrap;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }

        &__list {
            display: inline-flex;
            width: max-content;
            white-space: nowrap;
        }

        &-scrollbar {
            display: block;
            overflow-x: auto;
            overflow-y: hidden;
            height: 10px;
            background-color: transparent;
            position: relative;
            width: calc(100% - 12px);
            z-index: 1;
            margin: 0 6px;

            &::-webkit-scrollbar {
                height: 6px;

                &-track {
                    background-color: transparent;
                }

                &-thumb {
                    background-color: dark.$dark-black;
                    border-radius: 10px;
                }
            }

            &__inner {
                height: 0;
            }
        }
    }
}