:root {
    --header-height: 35px;

    --icon-menu-width: 48px;

    --explorer-menu-width: 300px;
    --explorer-menu-height: 22px;
    --explorer-menu-icon-width: 20px;

    --tab-menu-height: 35px;
    --tab-menu-icon-width: 16px;

    --content-padding: 25px;

    --footer-height: 22px;
}