$white: #ffffff;
$black: #000000;

$gray-50:  #eeeeee;
$gray-100: #dedede;
$gray-200: #cccccc;
$gray-300: #aeaeae;
$gray-400: #8e8e8e;
$gray-500: #717171;
$gray-600: #565656;
$gray-700: #3a3a3a;
$gray-800: #252526;
$gray-900: #0b0b0b;

$red-500: #e81123;

$green-500: #16825d;

$blue-450:  #3794ff;
$blue-500:  #007acc;