$white: oklch(1 0 0);
$black: oklch(0 0 0);

$gray-50:  oklch(0.95 0 0);
$gray-100: oklch(0.90 0 0);
$gray-200: oklch(0.8452 0 0);
$gray-300: oklch(0.75 0 0);
$gray-400: oklch(0.6467 0 0);
$gray-500: oklch(0.55 0 0);
$gray-600: oklch(0.4532 0 0);
$gray-700: oklch(0.35 0 0);
$gray-800: oklch(0.2649 0.0018 286.27);
$gray-900: oklch(0.15 0 0);

$red-500:  oklch(0.5899 0.2344 26.3);

$blue-500:  oklch(0.567 0.154556 248.5156);