@import "../abstract/palette";


//header
$header-bg-color: #3c3c3c;

$menu-bar-color: #c8c8c8;
$menu-bar-color-hover: $gray-200;
$menu-bar-bg: transparent;
$menu-bar-bg-hover: #454646;

$header-title-color: $white;

$window-controls-color: $gray-200;
$window-controls-color-hover: $gray-600;
$window-controls-close-color-hover: $white;
$window-controls-close-bg-hover: $red-500;


//main
$main-bg-color: $gray-800;

$icon-menu-bg-color: #333333;
$icon-menu-color: #858585;
$icon-menu-color-hover: $white;

$explorer-menu-bg-color: $gray-800;
$explorer-menu-color: $gray-200;
$explorer-menu-color-bg: transparent;
$explorer-menu-color-bg-line: transparent;
$explorer-menu-more-bg-hover: #363737;
$explorer-menu-color-bg-hover: #2a2d2e;
$explorer-menu-color-bg-active: #37373d;
$explorer-menu-color-click: $white;
$explorer-menu-color-bg-click: #04395e;
$explorer-menu-color-bg-line-click: #007fd4;

$tab-menu-bg-color: $gray-800;
$tab-menu-item-bg-color: #2d2d2d;
$tab-menu-color: #717171;
$tab-menu-color-active: $white;

$content-bg-color: #1e1e1e;

$content-welcome-color: #a5a5a5;
$content-welcome-intro-color: #989898;
$content-default-color: #d4d4d4;
$content-line-numbers-color: #858585;
$content-projects-line-color: #3a3a3a;
$content-projects-line-shadow-color: #2e2e2e;
$content-projects-title-color: $white;
$content-js-doctype-highlight-color: #bd63c5;

$point-color: #007acc;

$footer-bg-color: $point-color;
$footer-color: #f7f9fd;
$footer-item-bg-hover: #1e84c8;
$footer-remote-color: $white;
$footer-remote-bg-color: $green-500;
$footer-remote-bg-color-hover: #329071;


